.heading {
    display: flex;
    justify-content: center; /* Centers horizontally */
    text-align: center; /* Ensures the text itself is centered */
    margin-bottom: 10px;
}

.img_details_container {
    display: flex;
    align-items: stretch; /* Makes the height of the image container and details container equal */
  }
  
  .img_container {
    width: 50%; /* Makes the image container take up half of the horizontal space */
    display: flex; /* This ensures that the image stretches to fill the container */
  }
  
  .img_container img {
    width: 100%; /* Ensures the image fills the container */
    height: 100%; /* Ensures the image stretches to match the container's height */
    object-fit: cover; /* Maintains the aspect ratio while covering the container */
    border-radius: 30px;
  }
  
  .details_container {
    width: 50%; /* Ensures the details container takes up the other half */
    display: flex;
    flex-direction: column; /* Ensures the content stacks vertically */
    justify-content: flex-start; /* Aligns the content to the top */
    text-align: left; /* Left-aligns everything */
    padding-left: 20px; /* Optional, for some spacing between the image and details */
  }
  
  .array_container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left; /* Left-aligns the heading */
  }
  
  .array_container p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: left; /* Left-aligns the content */
  }
  
.recipe_info {
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .recipe_title {
     /* Title font size */
    margin-bottom: 10px; /* Optional, for spacing between the titles and values */
  }
  
  .recipe_value {
    /* font-size: 1.5rem; Value font size */
    color: #4d4c4c; /* Optional, to make the value stand out */
    font-weight: normal;
  }

  /* cooking_method.module.css */
  .method_url_container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Optional: for spacing between the two sections */
  }
  
  .cooking_method, .url {
    flex: 1; /* Ensures both sections take up equal space */
  }
  
  .cooking_method {
    text-align: left; /* Ensures text is aligned to the left */
  }
  
  .cooking_method h3, .url h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem; /* Increase font size to 1.5rem */
  }
  
  .cooking_method p {
    margin-bottom: 10px; /* Add bottom margin to each paragraph */
    font-size: 1.1em;
  }
  
  .url iframe {
    border-radius: 30px; /* Apply border-radius to the iframe */
  }

  /* MyComponent.module.css */
.deleteButton {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 20px;
}

.deleteButton:hover {
  background-color: rgb(207, 23, 23);
}

.relatedRecipes .heading{
  font-size: 2rem;
  margin-top: 30px;
}
  