* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.primary-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  padding-left: 0px;
}

.primary-header img {
  width: 130px;
  margin: 0;
}

.primary-header nav ul {
  list-style: none;
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(185, 184, 185);
  display: flex;
}

.primary-header nav ul li {
  display: inline-block;
  padding: 0px 5px;
  margin: 0px 10px;
}

.primary-header nav a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
}

.primary-header nav a.active {
  color: rgb(205, 52, 52);
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.primary-header button {
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(56, 55, 56);
  padding: 12px 45px;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 40px; /* Adjust the height here to match nav items */
}

.primary-header .create-account-btn {
  padding: 10px 30px;  /* Adjust padding for consistency */
  height: 50px;  /* Same height as the nav items */
  border-radius: 30px;
}

.primary-header a.active {
  color: rgb(205, 52, 52);
}

.search-add {
  padding: 10px;
  margin: 10px;
}

.search-add input {
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  font-size: 1.2rem;
}

.search-add button {
  border-radius: 30px;
  padding: 15px;
  margin: 20px;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(106, 105, 106, 0.81);
}

.add_recipe{
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
}