*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.primary-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border: solid;
}

.primary-header ul{
  border-radius: 30px;
  padding: 10px 30px;
  box-shadow: 0px 0px 20px rgb(185, 184, 185);
}

.primary-header ul li{
  display: inline-block;
  padding: 0px 5px;
  margin: 0px 10px;
}

.primary-header img {
  width: 130px;
  margin: 0px;
}

.primary-header button{
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(56, 55, 56);
  padding: 12px 45px;
  outline: 0;
  border: none;
  cursor: pointer;
}

.primary-header a{
  text-decoration: none;
  color: black;
}

.primary-header a.active{
  color: rgb(205, 52, 52);
}

.search-add{
  padding: 10px;
  margin: 10px;
}

.search-add input{
  border-radius: 10px;
  padding: 15px;
  margin: 20px;  
  font-size: 1.2rem;
}

.search-add button{
  border-radius: 30px;
  padding: 15px;
  margin: 20px; 
  font-size: 1.2rem;
  color: white; 
  background-color: black;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(106, 105, 106, 0.81);
}